body, html {
    height: auto;
}

.text {
  font-family: sans-serif;
  text-align: right;
  position: absolute;
  top: 8%;
  left: 60%;
  color: black;
}

img {
    max-width:100%;
    height: auto;
    background-size: cover;
}
