body, html {
    height: auto;
}

.text {
  text-align: left;
  color: black;
}

.main {
  text-align: left;
}

img {
    max-width:100%;
    height: auto;
    background-size: cover;
}

h1 {
  font-family: 'Mansalva', cursive;
}

@media only screen  and (min-width : 1224px) {

  .text {
    text-align: right;
  }

}
